<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
</head>
<body>
    <div id="speechContainer">
        <h1> Upload New File </h1>
        <form id="form" action="" method="post" enctype="multipart/form-data">
            <input type="file" name ="file" />
            <br>
            <input onclick="setTranscriptionLoading()" type="submit" name="action" value="Transcribe" />
            <script>
                function setTranscriptionLoading() {
                    document.getElementById("preTranscript").innerHTML = "Loading";
                }
            </script>
            {% if transcript == "" %}
            <div id="transcriptContainer">
                <p id="preTranscript"> Transcript will appear here.</p>
                {% endif %}

                {% if transcript != ""%}
                <div id="speechTranscriptContainer">
                    <h1>Transcript</h1>
                    <p>{{transcript}}</p>
                </div>
                <br>
                <div id="sumaryContainer">
                    <h1>Summary</h1>
                    <p>{{summary}}</p>
                </div>
                {% endif %}
            </div>
        </form>
</body>
</html>